fastapi
uvicorn[standard]
python-multipart
pydantic-settings

langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-pinecone

chromadb
pinecone
azure-search-documents

pypdf
python-docx

streamlit
requests
python-dotenv

pytest
